@font-face {
    font-family: 'Adobe Garamond Pro';
    src: url('AGaramondPro-Regular.woff2') format('woff2'),
        url('AGaramondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

